.footer{
    width: 100%;
    height: 140px;
    background-color:  #E7FAFE;

    .info-section{
  
        width: 60%;
        margin-left: 5rem;

        p{
            font-size: 24px;
            margin: 0  3rem 0 0;
        }
    }
}