<div class="bio-section d-flex flex-column justify-content-center">
  <p class="intro">
    Eric is a passionate Full-Stack Developer with a strong focus on front-end technologies and a growing expertise in back-end development. His skills include creating responsive, user-friendly applications using frameworks like Angular, HTML5, CSS3, and JavaScript. He enjoys designing clean, intuitive interfaces that enhance user experiences across different devices.</p>

    <p class="intro">While his main strength lies in front-end development, he has a foundational understanding of back-end technologies, including Node.js, RESTful APIs, and database integration. He is comfortable working with back-end systems to connect the front-end with databases and services, and he is always eager to learn more to expand my back-end knowledge.</p>

    <p class="intro"> Additionally, he has a passion for UI/UX design and use tools like Figma and Adobe XD to create designs that are both functional and visually appealing. He is dedicated to delivering solutions that meet users’ needs while also ensuring smooth integration between the front-end and back-end.</p>

    <p class="intro">With a blend of development and design skills, he strives to create end-to-end applications that provide both high performance and exceptional user experiences.</p>

</div>

<!--Work Experience Mobile --------------------------------->
<div *ngIf="screenSize"  class="work-section-mobile d-flex flex-column text-center my-5">

    <!--Work List-->
      <div 
          *ngFor="let experiences of workExperiences"
          class="work-section-list d-flex flex-row ">
  
          <!--Line Design-->
          <div class="seperator d-flex flex-auto justify-content-center">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
  
          <!--Work list -->
          <div class="work-list d-flex flex-column align-content-start">
  
            <!--Top section-------->
            <div class="top-section d-flex flex-row justify-content-between align-items-center mb-3">
              <img class="work-logo" [src]="experiences.work_logo">
  
              <div class="work-date">
                {{experiences.work_dates}}
              </div>
            </div>
  
            <!--Bottom Section-->
            <div class="bottom-section d-flex flex-column align-content-start">
                <div class="work-title">
                  <b>{{experiences.work_title}}</b>
                </div>
      
                <div class="work-company-location">
                  {{experiences.work_commpany}} | {{experiences.work_location}}
                </div>
      
                <div class="line-between">
      
                </div>
      
                <div class="work-description">
                  <p> <b>Skills:</b> {{experiences.work_description}} </p>
                </div>
          
            </div>
        </div>
  
    </div>
  
  
</div>
  
<!--Work Experience -->
<div *ngIf="!screenSize" class="work-section d-flex flex-column text-center  my-5">
  
    <div 
        *ngFor="let experiences of workExperiences" class="work-section-list">
  
        <div class="experience d-flex flexbox flex-row justify-content-center align-items-center">
  
          <!--Left Side---------->
          <div class="left-side">
  
            <img class="work-logo" [src]="experiences.work_logo">
  
            <div class="work-date mt-2">
              {{experiences.work_dates}}
            </div>
  
          </div>
  
          <div class="seperator d-flex flex-auto  justify-content-center align-items-center">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
      
          <!--Right Side---------->
          <div class="right-side d-flex flex-column align-content-start">
  
            <div class="work-title">
              <b>{{experiences.work_title}}</b>
            </div>
  
            <div class="work-company-location">
              {{experiences.work_commpany}} | {{experiences.work_location}}
            </div>
  
            <div class="line-between">
  
            </div>
  
            <div class="work-description">
              <p> <b>Skills:</b> {{experiences.work_description}} </p>
            </div>
          </div>
  
      </div>
    </div>
  
</div>

  