.bio-section{
    margin: 5%;
    padding: 3%;
    background-color: #EEFAFC;
    color: #747171;
    border-radius: 15px;
    font-size: 20px;
}

.work-section{
    .work-section-list{
        .experience{

            .left-side{

                width: 20%;
                justify-items: center;

                .work-logo{
                    width: 80%;
                }

                .work-date{
                    font-size: 12px;
                }
            }

            .seperator{
                margin: 0 8rem;

                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: #EEFAFC;
                    position: absolute;
                }

                .line {
                    height: 13rem;
                    width: 10px;
                    background-color: #EEFAFC;
                 
                }

            }

            .right-side{
                text-align: left;
                width: 40%;

                .work-title{
                    font-size: 20px;
                }

                .work-company-location{
                    font-size: 14px;
                }

                .work-description{
                    color:dimgray;
                    font-size: 16px;
                }

                .line-between{
                    margin: 1% 0;
                    width: 90%;
                    height: 2px;
                    background-color: #EEFAFC;
                    border-radius: 20px;
                }

            }
        }
    }

    .more-work-experience{

        margin-bottom: 100px;

        button{
            width: 80%;
            height: 60px;
            border: none;
            background-color:#EEFAFC;
            border-radius: 20px;
        }

        button:hover{
            opacity: 60%;
        }
    }

}

@media only screen and (max-width: 1200px){

    .bio-section{
        font-size: 18px;
    }

}

@media only screen and (max-width: 899px){

    .bio-section{
        font-size: 16px;
    }

    .work-section-mobile{


        .work-section-list{
            .seperator{
                margin: 0 5rem;

                .circle{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color:#EEFAFC;
                    position: absolute;    
                }

                .line {
                    height: 15rem;
                    width: 8px;
                    background-color: #EEFAFC;
                }

            }

            .work-list{
                .top-section{
                    width: 80%;
                    justify-items: center;
        
                    .work-logo{
                        width: 30%;
                        min-width: 25%;
                    }
        
                    .work-date{
                        font-size: 13px;
                    }
                }

                .bottom-section{
                    text-align: left;
                    width: 90%;
    
                    .work-title{
                        font-size: 17px;
                    }
    
                    .work-company-location{
                        font-size: 13px;
                    }
    
                    .work-description{
                        color:dimgray;
                        font-size: 13px;
                    }
    
                    .line-between{
                        margin: 1% 0;
                        width: 90%;
                        height: 2px;
                        background-color: #EEFAFC;
                        border-radius: 20px;
                    }
                }

            }
        }

        .more-work-experience{

            margin-bottom: 100px;
    
            button{
                width: 80%;
                height: 60px;
                border: none;
                background-color:#EEFAFC;
                border-radius: 20px;
            }
    
            button:hover{
                opacity: 60%;
            }
        }
    }


}

@media only screen and (max-width: 667px){

    .skills-sec-mobile{
        width: 100%;
        justify-items: center;
        justify-self: center;
    
        .items{
            margin: 45px 0;
        
            ul {
                padding: 0;
                display: flex;
             
                li{
                    list-style: none;
                    padding: 12px;
        
                    img{
                        width: 40px;
                    }
        
                }
            }
        }
    }
}


@media only screen and (max-width: 555px){

    .bio-section{
        font-size: 14px;
    }

    .work-section-mobile{
        .work-section-list{

            .seperator{
                margin: 0 3em;

                .circle{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color:#EEFAFC;
                    position: absolute;    
                }

                .line {
                    height: 13rem;
                    width: 6px;
                    background-color: #EEFAFC;
                }

            }

            .work-list{
                .top-section{
                    width: 80%;
                    justify-items: center;
        
                    .work-logo{
                        width: 40;
                        min-width: 5%;
                    }
        
                    .work-date{
                        font-size: 11px;
                    }
                }

                .bottom-section{
                    text-align: left;
                    width: 90%;
    
                    .work-title{
                        font-size: 15px;
                    }
    
                    .work-company-location{
                        font-size: 11px;
                    }
    
                    .work-description{
                        color:dimgray;
                        font-size: 11px;
                    }
    
                    .line-between{
                        margin: 1% 0;
                        width: 90%;
                        height: 2px;
                        background-color: #EEFAFC;
                        border-radius: 20px;
                    }
                }

            }
        }

        .more-work-experience{

            margin-bottom: 100px;
    
            button{
                width: 80%;
                height: 60px;
                border: none;
                background-color: #EEFAFC;
                border-radius: 20px;
            }
    
            button:hover{
                opacity: 60%;
            }
        }
    }
}


@media only screen and (max-width: 450px){

    .bio-section{
        font-size: 14px;
    }

    .skills-sec-mobile{
        width: 100%;
        justify-items: center;
        justify-self: center;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    
        .items{
            margin: 30px 0;
        
            ul {
                padding: 0;
                display: flex;
             
                li{
                    list-style: none;
                    padding: 8px;
        
                    img{
                        width: 35px;
                    }
        
                }
            }
        }
    }
}

@media only screen and (max-width: 400px){

    .bio-section{
        font-size: 12px;
    }
}