
.contact-info{

    padding: 6%;

    .header{
        text-align: center;
        font-size: 60px;
    }

    .details{
        
        // text-align: center;
        font-size: 26px;
    }

    .email{
       
        font-size: 24px;
    }

}

@media only screen and (max-width: 1000px) {

    .contact-info{

        .header{
            font-size: 50px;
        }
    
        .details{
            
            text-align: center;
            font-size: 24px;
        }
    
        .email{
            font-size: 20px;
        }
    
    }

}

@media only screen and (max-width: 899px) {

    
    .contact-info{

        padding: 10%;

        .header{
            font-size: 40px;
        }
    
        .details{
            
            text-align: center;
            font-size: 22px;
        }
    
        .email{
            font-size: 18px;
        }
    
    }

}