
.contact-info{

    padding: 6%;

    .header{
        text-align: center;
        font-size: 60px;
    }

    .details{
        margin: 2% 3% 0 3%;
        font-size: 24px;
    }

    .email{
        margin: 3.5% 3% 0 3%;
        font-size: 22px;
    }

}

@media only screen and (max-width: 1000px) {

    .contact-info{

        .header{
            padding: 2%;
            font-size: 50px;
        }
    
        .details{
            font-size: 22px;
        }
    
        .email{
            font-size: 20px;
        }
    
    }

}

@media only screen and (max-width: 899px) {

    
    .contact-info{

        padding: 10%;

        .header{
            padding: 2%;
            font-size: 40px;
        }
    
        .details{
            font-size: 22px;
        }
    
        .email{
            font-size: 18px;
        }
    
    }

}

@media only screen and (max-width: 450px) {

    
    .contact-info{

        padding: 10%;

        .header{
            font-size: 30px;
        }
    
        .details{
            padding: 1.5%;
            font-size: 19px;
        }
    
        .email{
            font-size: 14px;
        }
    
    }

}

@media only screen and (max-width: 450px) {

    
    .contact-info{

        padding: 10%;

        .header{
            font-size: 26px;
        }
    
        .details{
            padding: 1%;
            font-size: 16px;
        }
    
        .email{
            font-size: 12px;
        }
    
    }

}

