<div class="contact-info d-flex flex-column justify-content-center align-items-center">

    <p class="header">Let's Build Something Great Together!</p>

    <p class="details mt-3">Whether you're looking to discuss an exciting new project, have questions about my work, or simply want to connect and chat, I'm always eager to engage with like-minded professionals. I believe in the power of collaboration and the incredible things we can achieve when we work together.</p>
        
    <p class="details">If you're looking for fresh ideas, innovative solutions, or an experienced professional to help bring your vision to life, I’d love to explore how we can create something truly remarkable. My diverse experience in full stack development and UI/UX design has equipped me with a unique perspective that allows me to approach every project with creativity and precision.</p>
        
    <p class="details">Let’s connect, brainstorm, and take on new opportunities to drive growth, impact, and success. Reach out today, and let’s see what we can achieve together!</p>

    <p class="email"><b>Feel free to mail me at: ericchen829&#64;mail.com</b></p>


</div>




