<!--Screen size bigger than 900-->
<nav *ngIf="!screenSize" class="header	d-flex justify-content-start p-0 mt-0">
  <div class="logo-section justify-content-center">
    <img (click)="pageRouter('/home')"
          style="cursor: pointer; "
          src="assets/Images/EC Development.png">
  </div> 

  <menu class="menu-section d-flex flexbox flex-row justify-content-between">
      <button (click)="pageRouter('/home')">Home</button>
      <button (click)="pageRouter('/project')">Project</button>
      <button (click)="pageRouter('/about')">About</button>
      <button (click)="pageRouter('/contact')">Contact</button>
  </menu>
</nav>


<!--Also can use the folloing bootstrap bode to change the screen size instead of typescript -->
<!-- </d-none d-lg-flex d-xl-flex w-100 >  d-lg-none-->


<!--Screen size smaller than 900-->
<nav  *ngIf="screenSize" class="header-sm w-100  d-flex flex-auto flex-column">

  <div class="d-flex flex-auto flex-row justify-content-between">

    <div class="logo-section justify-content-start mx-3">
      <img (click)="pageRouter('/home')"
      style="cursor: pointer; "
      src="assets/Images/EC Development.png">
    </div> 

    <div *ngIf="menuButtonChange" (click)="showCloseMenuListAndButtonChange()" class="menu-icon-click d-flex flex-auto justify-content-end  mx-3">
      <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
        <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
      </svg>
    </div>

    <div *ngIf="!menuButtonChange" (click)="showCloseMenuListAndButtonChange()" class="menu-icon-click-after d-flex flex-auto justify-content-end  mx-3">
      <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
        <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
      </svg>
    </div>

   </div>

  <div>
    <menu *ngIf="!menuList" class="menu-section-sm d-flex flex-none flex-column p-0 m-0">
      <button (click)="pageRouter('/home')">Home</button>
      <button (click)="pageRouter('/project')">Project</button>
      <button (click)="pageRouter('/about')">About</button>
      <button (click)="pageRouter('/contact')">Contact</button>
    </menu>
  </div>
  
</nav>




