/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap-grid";

// Add as many as you need
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";

// Your custom styles
html, body {  
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
}

app-root{
    height: 100dvh;
}
