.name-image{   
    padding: 100px 60px;
    background-color: #EEFAFC;

    .introduction{
        text-align: right;

        .main-text{
            margin: 0;
            padding: 0;
            font-size: 70px;
        }
      
        .sub-text{
            margin: 1% 0;
            padding: 0;
            font-size: 35px;
    
        }
    }

    .profile-image{
        min-width: 100px;
        min-height: 100px;
        max-width: 30%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.name-image-mobile{   
    margin: 40px 10px;

    .profile-image{ 
        min-width: 100px;
        min-height: 100px;
        max-width: 65%;
        border-radius: 50%;
        object-fit: cover;
    }

    .introduction{
        text-align: center;

        .main-text{
            margin: 20px 0 0 0;
            padding: 0;
            font-size: 70px;
        }
      
        .sub-text{
            margin: 1% 0;
            padding: 0;
            font-size: 35px;
    
        }
    }

   
}

.skills-sec{
    width: 100%;
    justify-items: center;
    justify-self: center;

    .items{
        margin: 80px 0;
    
        ul {
            padding: 0;
            display: flex;
         
            li{
                list-style: none;
                padding: 24px;
    
                img{
                    width: 60px;
                }
    
            }
        }
    }
}

.skills-sec-mobile{
    width: 100%;
    justify-items: center;
    justify-self: center;

    .items{
        margin: 60px 0;
    
        ul {
            padding: 0;
            display: flex;
         
            li{
                list-style: none;
                padding: 24px;
    
                img{
                    width: 60px;
                }
    
            }
        }
    }
}
  
.project-section{

    margin-bottom:100px;
    grid-template-columns: repeat(2, 1fr);

    .peerly-project{
        width: 100%;
        height: 100%;

        .title{
            margin: 3% 0 0 0;
            font-size: 50px;
            padding: 0;
            color:#0cc0df;
        }

        img{
            height: 70%;
            width: 70%;
         }

            .skills-list{

                width: 100%;

                p{
                    font-size: 13px;
                    margin: 0 1% 4% 0;
                    background-color: white;
                    width: fit-content;
                    border-radius: 20px;
                    padding: 0.5% 2.5%;
                    width: max-content;
                    height: max-content;        
                }
            }
    }

    .peerly-project:hover{
        opacity: 60%;
        cursor: pointer;
    }


    .more-section{
        height: 100%;

        .project-button{
            border: none;
            font-size: 45px;
            background-color: #E7FAFE;
        }
    }

    .more-section:hover{
        opacity: 60%;
    }

}

.work-section{
    .work-section-list{
        .experience{

            .left-side{

                width: 20%;
                justify-items: center;

                .work-logo{
                    width: 80%;
                }

                .work-date{
                    font-size: 12px;
                }
            }

            .seperator{
                margin: 0 8rem;

                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: #E7FAFE;
                    position: absolute;
                }

                .line {
                    height: 13rem;
                    width: 10px;
                    background-color: #E7FAFE;
                 
                }

            }

            .right-side{
                text-align: left;
                width: 40%;

                .work-title{
                    font-size: 20px;
                }

                .work-company-location{
                    font-size: 14px;
                }

                .work-description{
                    color:dimgray;
                    font-size: 16px;
                }

                .line-between{
                    margin: 1% 0;
                    width: 90%;
                    height: 2px;
                    background-color: #E7FAFE;
                    border-radius: 20px;
                }

            }
        }
    }

    .more-work-experience{

        margin-bottom: 100px;

        button{
            width: 80%;
            height: 60px;
            border: none;
            background-color: #E7FAFE;
            border-radius: 20px;
        }

        button:hover{
            opacity: 60%;
        }
    }

}










//Media Section--------------------

@media only screen and (max-width: 899px){

    .project-section{

        .more-section{
            width: 100%; 
            height: 500px; 
              
            .project-button{
                border: none;
                font-size: 20px;
                background-color: #E7FAFE;
            }
        }
    }

    .work-section-mobile{


        .work-section-list{
            .seperator{
                margin: 0 5rem;

                .circle{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: #E7FAFE;
                    position: absolute;    
                }

                .line {
                    height: 13rem;
                    width: 8px;
                    background-color: #E7FAFE;
                }

            }

            .work-list{
                .top-section{
                    width: 80%;
                    justify-items: center;
        
                    .work-logo{
                        width: 30%;
                        min-width: 25%;
                    }
        
                    .work-date{
                        font-size: 13px;
                    }
                }

                .bottom-section{
                    text-align: left;
                    width: 90%;
    
                    .work-title{
                        font-size: 17px;
                    }
    
                    .work-company-location{
                        font-size: 13px;
                    }
    
                    .work-description{
                        color:dimgray;
                        font-size: 13px;
                    }
    
                    .line-between{
                        margin: 1% 0;
                        width: 90%;
                        height: 2px;
                        background-color: #E7FAFE;
                        border-radius: 20px;
                    }
                }

            }
        }

        .more-work-experience{

            margin-bottom: 100px;
    
            button{
                width: 80%;
                height: 60px;
                border: none;
                background-color: #E7FAFE;
                border-radius: 20px;
            }
    
            button:hover{
                opacity: 60%;
            }
        }
    }


}


@media only screen and (max-width: 500px){

    .work-section-mobile{
        .work-section-list{

            .seperator{
                margin: 0 3em;

                .circle{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: #E7FAFE;
                    position: absolute;    
                }

                .line {
                    height: 12rem;
                    width: 6px;
                    background-color: #E7FAFE;
                }

            }

            .work-list{
                .top-section{
                    width: 80%;
                    justify-items: center;
        
                    .work-logo{
                        width: 25%;
                        min-width: 15%;
                    }
        
                    .work-date{
                        font-size: 11px;
                    }
                }

                .bottom-section{
                    text-align: left;
                    width: 90%;
    
                    .work-title{
                        font-size: 15px;
                    }
    
                    .work-company-location{
                        font-size: 11px;
                    }
    
                    .work-description{
                        color:dimgray;
                        font-size: 11px;
                    }
    
                    .line-between{
                        margin: 1% 0;
                        width: 90%;
                        height: 2px;
                        background-color: #E7FAFE;
                        border-radius: 20px;
                    }
                }

            }
        }

        .more-work-experience{

            margin-bottom: 100px;
    
            button{
                width: 80%;
                height: 60px;
                border: none;
                background-color: #E7FAFE;
                border-radius: 20px;
            }
    
            button:hover{
                opacity: 60%;
            }
        }
    }
}






@media only screen and (max-width: 1250px){
    .name-image{  
        .introduction{   
            .main-text{
                font-size: 50px;
            }

            .sub-text{
                font-size: 25px;
            }
        }

        // .profile-image{
        //     height: 100%;
        //     width: 320px;
        //     min-width: 100px;
        //     border-radius: 50%;
        //     object-fit: cover;
        // }
    }

    .skills-sec{
        width: 100%;
        justify-items: center;
        justify-self: center;

        .items{
            margin: 80px 0;
        
            ul {
                padding: 0;
                display: flex;
             
                li{
                    list-style: none;
                    padding: 16px;
        
                    img{
                        width: 50px;
                    }
        
                }
            }
        }
    }
      
}

@media only screen and (max-width: 667px){
    
    .project-section{

        .more-section{
            width: 100%; 
            height: 400px; 
              
            .project-button{
                border: none;
                font-size: 20px;
                background-color: #E7FAFE;
            }
        }
    }
    
    .name-image-mobile{  
        .introduction{   
            .main-text{
                font-size: 50px;
            }

            .sub-text{
                font-size: 25px;
            }
        }
    }

    .skills-sec-mobile{
        width: 100%;
        justify-items: center;
        justify-self: center;
    
        .items{
            margin: 45px 0;
        
            ul {
                padding: 0;
                display: flex;
             
                li{
                    list-style: none;
                    padding: 12px;
        
                    img{
                        width: 40px;
                    }
        
                }
            }
        }
    }
}



@media only screen and (max-width: 450px){

    .project-section{

        .more-section{
            width: 100%; 
            height: 300px; 
              
            .project-button{
                border: none;
                font-size: 20px;
                background-color: #E7FAFE;
            }
        }
    }
    .name-image-mobile{  
        .introduction{   
            .main-text{
                font-size: 40px;
            }

            .sub-text{
                font-size: 20px;
            }
        }
    }

    .skills-sec-mobile{
        width: 100%;
        justify-items: center;
        justify-self: center;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    
        .items{
            margin: 30px 0;
        
            ul {
                padding: 0;
                display: flex;
             
                li{
                    list-style: none;
                    padding: 8px;
        
                    img{
                        width: 35px;
                    }
        
                }
            }
        }
    }
}