<!--Name and Image Mobile Screen--------------------------->
<div *ngIf="screenSize" class="name-image-mobile d-flex flex-column align-items-center">

  <img class="profile-image" src="assets/Images/profile.jpg" alt=""> 

  <div class="introduction d-flex flex-column justify-content-center">
    <p class="main-text">Hi, I'm <b style="color: #0cc0df;">Eric Chen</b></p>
    <p class="sub-text text-align-left"><b> Full-Stack Developer / UI & UX Designer</b></p>
  </div> 
</div>

<!--Name and Image-->
<div *ngIf="!screenSize" class="name-image d-flex justify-content-around align-content-center">
  <div class="introduction d-flex flex-auto flex-column justify-content-center">
    <p class="main-text">Hi, I'm <b style="color: #0cc0df;">Eric Chen</b></p>
    <p class="sub-text text-align-left"><b> Full-Stack Developer / UI & UX Designer</b></p>
  </div>
   
  <img class="profile-image" src="assets/Images/profile.jpg" alt=""> 
</div>




<!--Skills Section Mobile Screen----------------------------->
<div *ngIf="screenSize" class="skills-sec-mobile d-flex flex-column  justify-content-center align-content-center align-items-center">

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 0:5"
          class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" 
           [src]="skill.skillIcon" 
           [ngStyle]=""alt="Skill Icon">
    </div>
  </div>

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 5:10"
                  class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" [src]="skill.skillIcon" alt="Skill Icon">
    </div>
  </div>  

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 10:15"
                  class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" [src]="skill.skillIcon" alt="Skill Icon">
    </div>
  </div>  

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 15:20"
                  class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" [src]="skill.skillIcon" alt="Skill Icon">
    </div>
  </div>  

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 20:22"
                  class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" [src]="skill.skillIcon" alt="Skill Icon">
    </div>
  </div>  

</div>



<!--Skills Section-->
<div *ngIf="!screenSize" class="skills-sec d-flex flex-column  justify-content-center align-content-center align-items-center">

  <div class="item-list d-flex flex-row">
    <div *ngFor="let skill of skills | slice: 0:11"
          class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" 
           [src]="skill.skillIcon" 
           [ngStyle]=""alt="Skill Icon">
    </div>
  </div>

  <div class="item-list d-flex flex-row mt-5">
    <div *ngFor="let skill of skills | slice: 11:22"
                  class="items justify-content-between d-flex flex-column align-self-center" >
      <img class="" [src]="skill.skillIcon" alt="Skill Icon">
    </div>
  </div>  

</div>






<!--Project Section Mobile screen--------------------------->
<div *ngIf="screenSize" class="project-section">

  <!--Projects----------->
  <div 
    *ngFor="let project of projectList | slice: 0:3" 
    class="peerly-project justify-content-around align-items-center" 
    [style.background-color]="project.background_color"
    (click)="pageRouterProject(project.id)">

    <div class="d-flex flex-column justify-content-center align-items-center">
      <img [src]="project.image" alt="image">
      <div class="skills-list d-flex flex-wrap justify-content-center align-items-center">
      <p *ngFor="let skills of project.skills">{{skills}}</p>
      </div>
    </div>
  </div>

  <div class="more-section d-flex flex-none justify-content-center w-100">
    <button (click)="pageRouter('/project')" class="project-button w-100"> More Projects</button>
  </div>

</div>

<!--Project Section-->
<div *ngIf="!screenSize"  class="project-section d-grid">

  <!--Projects----------->
  <div 
    *ngFor="let project of projectList | slice: 0:3" 
    class="peerly-project justify-content-around align-items-center" 
    [style.background-color]="project.background_color"
    (click)="pageRouterProject(project.id)">

    <div class="d-flex flex-column justify-content-center align-items-center">
      <img [src]="project.image" palt="image">
      <div class="skills-list d-flex flex-wrap justify-content-center align-items-center">
      <p *ngFor="let skills of project.skills">{{skills}}</p>
      </div>
    </div>
  </div>

  <div class="more-section d-flex flex-none justify-content-center w-100">
    <button (click)="pageRouter('/project')" class="project-button w-100"> More Projects</button>
  </div>

</div>




<!--Work Experience Mobile --------------------------------->
<div *ngIf="screenSize"  class="work-section-mobile d-flex flex-column text-center">

  <!--Work List-->
    <div 
        *ngFor="let experiences of workExperiences | slice: 0:3"
        class="work-section-list d-flex flex-row ">

        <!--Line Design-->
        <div class="seperator d-flex flex-auto justify-content-center">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <!--Work list -->
        <div class="work-list d-flex flex-column align-content-start">

          <!--Top section-------->
          <div class="top-section d-flex flex-row justify-content-between align-items-center mb-3">
            <img class="work-logo" [src]="experiences.work_logo">

            <div class="work-date">
              {{experiences.work_dates}}
            </div>
          </div>

          <!--Bottom Section-->
          <div class="bottom-section d-flex flex-column align-content-start">
              <div class="work-title">
                <b>{{experiences.work_title}}</b>
              </div>
    
              <div class="work-company-location">
                {{experiences.work_commpany}} | {{experiences.work_location}}
              </div>
    
              <div class="line-between">
    
              </div>
    
              <div class="work-description">
                <p> <b>Skills:</b> {{experiences.work_description}} </p>
              </div>
        
          </div>
      </div>

  </div>

  <div class="more-work-experience mt-5">
    <button (click)="pageRouter('/about')">More Job Experience</button>
  </div>

</div>

<!--Work Experience -->
<div *ngIf="!screenSize" class="work-section d-flex flex-column text-center">

  <div 
      *ngFor="let experiences of workExperiences | slice: 0:3" class="work-section-list">

      <div class="experience d-flex flexbox flex-row justify-content-center align-items-center">

        <!--Left Side---------->
        <div class="left-side">

          <img class="work-logo" [src]="experiences.work_logo">

          <div class="work-date">
            {{experiences.work_dates}}
          </div>

        </div>

        <div class="seperator d-flex flex-auto  justify-content-center align-items-center">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
    
        <!--Right Side---------->
        <div class="right-side d-flex flex-column align-content-start">

          <div class="work-title">
            <b>{{experiences.work_title}}</b>
          </div>

          <div class="work-company-location">
            {{experiences.work_commpany}} | {{experiences.work_location}}
          </div>

          <div class="line-between">

          </div>

          <div class="work-description">
            <p> <b>Skills:</b> {{experiences.work_description}} </p>
          </div>
        </div>

    </div>
  </div>

  <div class="more-work-experience mt-5">
    <button (click)="pageRouter('/about')">More Job Experience</button>
  </div>

</div>

